//bootstrap
$success: #44BE4C;
$info: #07d3e2;
$body-bg: #18162c;
$body-color: #fff;
$link-color: $info;
$enable-negative-margins: true;

$gradient: linear-gradient(180deg, rgba(#000, .35), rgba(#fff, 0));
$input-border-color: transparent;
$input-bg: darken($body-bg, 7%);
$input-focus-bg: darken($body-bg, 5%);
$input-focus-border-color: $info;
$input-transition: border-color .5s ease-in-out, box-shadow .15s ease-in-out, background-color .5s ease-in-out;
$input-focus-box-shadow: 0;

$btn-close-opacity: .75;
$btn-close-hover-opacity: .9;
$btn-close-focus-shadow: 0;


$nav-underline-link-active-color: $info;
$nav-link-color: rgba($info, .5);
$form-check-input-focus-box-shadow: 0;
$form-check-input-checked-bg-color: $info;

$pagination-hover-bg: $info;
$pagination-hover-color: #fff;
$pagination-active-bg: #174157;
$pagination-active-border-color: $info;
$pagination-disabled-bg: lighten(#174157, 60%);

$list-group-bg: transparent;
$list-group-hover-bg: $info;
$list-group-active-bg: $info;
$list-group-action-active-bg: lighten($info, 10%);
$list-group-action-active-color: #fff;
$list-group-action-hover-color: #fff;

$input-disabled-bg: darken($info, 30%);

// custom
$darkBg: #1D2730;