.footer {
	background: #174157;

	.etc_info {
		background: $body-bg;
	}

	.footer_nav {
		font-size: 20px;

		@include media-breakpoint-down(sm) {
			text-align: center;
		}

		@include media-breakpoint-down(md) {
			font-size: 1rem;
		}

		li {
			padding: 0 25px;
			position: relative;



			&:before {
				content: "";
				--s: 3px;
				width: var(--s);
				height: var(--s);
				border-radius: 50%;
				display: block;
				position: absolute;
				// top: 50%;
				top: 0;
				transform: translate(-100%, .8rem);

				@include media-breakpoint-down(md) {
					transform: translate(-100%, .55rem);
				}

				@include media-breakpoint-down(sm) {
					position: static;
					transform: none;
					margin: 5px auto 0;
				}

				left: 0;
				background: #fff;
				margin-top: 3px;
			}

			&:first-child {
				&:before {
					content: none;
				}
			}

			a {
				text-decoration: none;
			}
		}
	}
}